<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kekwy.mcolc.mapper.PlayerDetailsMapper">


  <insert id="insert">
    INSERT INTO t_player_details
    VALUES (#{uuid},
            #{name},
            #{health},
            #{hunger},
            #{experience.level},
            #{experience.progress},
            #{buff});
  </insert>

  <update id="update">
    UPDATE t_player_details
    SET name=#{name},
        health=#{health},
        hunger=#{hunger},
        exp_level=#{experience.level},
        exp_progress=#{experience.progress},
        buff=#{buff}
    WHERE uuid = #{uuid};

  </update>

  <select id="exists" resultType="java.lang.Boolean">
    SELECT count(*) > 0
    FROM t_player_details
    WHERE uuid = #{uuid}
  </select>

</mapper>